@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

html {
  background-color: rgb(232, 232, 232);
  color: rgb(64, 64, 64);
  font-family: "Raleway", sans-serif;
}
a {
  color: #ee3987;
  text-decoration: none;
}
